
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat Details</title>
</head>
<body>
    <div class="container">
        <% for (var i = 0; i < cats.length; i++) { %>
            <% if (cat_name == cats[i]['name']) { %>
            <img src="<%= cats[i].img %>" alt="img">
            <h1>Details Page for <%= cats[i].name %></h1>
            <div class="infobox">
                <h3>Favorite food: <%= cats[i].food %></h3>
                <h3>Age: <%= cats[i].age %></h3>
                <h3>Sleeping spots:</h3>
                <% cats[i].sleep.forEach(function(item){ %>
                    <h3><%= item %></h3>
                <% }); %>
            </div>
            <% } %>
        <% } %>
    </div>
</body>
</html>